body {background-color: rgb(39, 39, 39);}

body {color: rgb(230, 172, 125)}

body {font-size: 12pt}

h2 {font-size: 18pt}

#ScottishFold {
    background-color:rgb(151, 255, 212);
    color: rgb(97, 146, 124);
}

#Savannahmacska {
    background-color: aquamarine;
    color: green;
}

#Bengalimacska {
    background-color:darkslategrey;
    color:greenyellow;
}

.litag {
    color:red
}

a {
    text-decoration: none;
    background-color: orange;
    color:black;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    border-color:black;
}
/* mouse over link */
a:hover {
background-color: rgb(255, 60, 1);
color:brown
}

  